VITE_SUPABASE_URL=https://fphxrlinpnxritpflqxu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwaHhybGlucG54cml0cGZscXh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMDM4NzYsImV4cCI6MjA4Nzc3OTg3Nn0.Ob4VA7rMTmGSIUlCZUky02r7zYCb4_w4l7Ue-XMTjAk